<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1712730454038</Id>
		<Name><![CDATA[eventUpdateLoopsTable]]></Name>
		<X>1450</X>
		<Y>70</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="cyclic">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">SECOND</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_SECOND</Unit>
			</Rate>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1712736000000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
	<Event>
		<Id>1714999550364</Id>
		<Name><![CDATA[eventInject0]]></Name>
		<X>20</X>
		<Y>465</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="cyclic">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_MINUTE</Unit>
			</Rate>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1715068800000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[triangular(0, 0.5, 0.25)]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[triangular(parDepartureDistributionFrom0Min, parDepartureDistributionFrom0Max, parDepartureDistributionFrom0Mean)
//triangular(1.5, 2.5, 2.0)
//triangular(2.25, 3.75, 3.0)]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
	<Event>
		<Id>1714999899214</Id>
		<Name><![CDATA[eventInjectX]]></Name>
		<X>20</X>
		<Y>1040</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="cyclic">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">MINUTE</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_MINUTE</Unit>
			</Rate>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1715068800000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[triangular(0, 0.5, 0.25)]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[triangular(parDepartureDistributionFromXMin, parDepartureDistributionFromXMax, parDepartureDistributionFromXMean)
//triangular(1.5, 2.5, 2.0)
//triangular(2.25, 3.75, 3.0)]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
</Events>
